.o-header {
  @include position(fixed, 0 null null 0);

  width: 100%;
  z-index: 100;
  background-color: white;
}

.o-logo {
  font-family: $font__caps;
  font-size: em($unit--m);

  text-decoration: none;
  text-transform: lowercase;

  letter-spacing: em(.25em, $unit--m);

  @include state--link {
    color: $grey--300;
  }
  @include state--active {
    color: $grey--900;
  }
}

.o-logo__studio {
  color: $grey--900;
}

.o-nav {
  font-size: em(14);
  letter-spacing: em($ratio--t);
}

.o-nav__list {
  @include reset-list;
}

.o-nav__divider {
  @include margin(null em($ratio--xs));
}

.o-nav__item {
  display: inline-block;
  text-transform: uppercase;

  & + & {
    margin-left: em($ratio--l);
  }
}

.o-nav__link {
  position: relative;

  text-decoration: none;
}

.o-nav__link:after {
  position: absolute;
  left: 50%;
  top: 110%;

  content: "";
  display: block;
  
  width: 0;
  height: 1px;

  background-color: $grey--600;
  transition: width $duration--b, left $duration--b;
}

.o-nav__link:hover:after,
.o-nav__link--active:after {
  width: 100%;
  left: 0;
}

.o-textlink {
  display: block;

  font-family: $font__caps;
  letter-spacing: em($ratio--t);
  text-align: center;
  text-transform: uppercase;

  margin-top: em($ratio--m);

  transition: color $duration--s;
}

.o-filter {
  text-align: center;

  padding-left: 0;
}

.o-filter__item {
  display: inline-block;

  & + & {
    margin-left: em($ratio--l);
  }
}

.o-toggle {
  background-color: transparent;
  border: none;
  padding: 0;

  transition: color $duration--s;

  @include state--active {
    color: $color1--500;
  }

  @include state--focus {
    outline: none;
  }
}

.o-toggle--active {
  color: $color1--500;
}

.o-work {
  // Idiotic way of making MixItUp work.
  display: none;

  position: relative;

  overflow: hidden;

  width: em(240);

  margin-right: flex-gutter();
  margin-bottom: flex-gutter();
}

.o-work__image {
  display: block;

  width: 100%;
  height: 100%;
}

.o-work__info {
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  font-size: em(14);

  text-align: left;
  text-transform: uppercase;

  letter-spacing: em($ratio--t);
  color: white;
  padding: em($ratio--s, 14) em($ratio--b, 14);

  background-color: rgba($grey--900, .65);
  transition: transform $duration--b;

  transform: translateY(100%);

  .o-work:hover & {
    transform: translateY(0);
  }
}

.o-map {
  position: relative;
  height: 60vh;

  iframe {
    @include position(absolute, 0 null null 0);

    @include size(100%);
    filter: grayscale(100%);
  }
}

.o-article {
  @include span-columns(4);

  img {
    max-width: em(200);
    @include margin(null auto);
  }
}

.o-article__link {
  text-decoration: none;
}

.o-article__button {
  font-size: em($ratio--m);
}

.o-class {
  @include span-columns(4);

  .o-group--mga &:first-child {
    @include shift(2);
  }
}

.o-people {
  list-style-type: none;
  padding-left: 0;

  @include clearfix;
}

.o-people__item {
  margin-top: em($ratio--xxs);

  .o-group--grad & {
    @include span-columns(4);
    @include omega(3n);
  }
}

.o-people__title {
  display: block;

  margin-bottom: em($ratio--b);
}
