.o-header {
  @include position(absolute, 0 null null 0);

  @include media($large) {
    position: fixed;
  }

  width: 100%;
  z-index: 100;
  background-color: white;

  @include media($small) {
    @include padding(em($unit--m) null);
  }
  @include media($large) {
    @include padding(em($ratio--m) null);
  }
}

.o-logo {
  font-family: $font__caps;
  font-size: em($unit--m);

  text-decoration: none;
  text-transform: lowercase;

  letter-spacing: em(.25em, $unit--m);

  @include state--link {
    color: $grey--300;
  }
  @include state--active {
    color: $grey--900;
  }
}

.o-logo__studio {
  @include media($phone) {
    display: block;
  }
  
  color: $grey--900;
}

.o-languages {
  @include reset-list;
}
.o-languages__item {
  display: inline-block;

  &:last-child {
    &:before {
      content: "/";
      @include margin(null em($ratio--xs) null em($ratio--t));
    }
  }
}
.o-languages__item--active a {
  position: relative;

  @include underlineActive;
}

.o-textlink {
  display: block;

  font-family: $font__caps;
  letter-spacing: em($ratio--t);
  text-align: center;
  text-transform: uppercase;

  transition: color $duration--s;

  margin-top: em($ratio--b);

  @include media($large) {
    margin-top: em($ratio--m);
  }

  @include state--active {
    .o-textlink__text:after {
      width: 100%;
      left: 0;
    }
  }
}
.o-textlink__text {
  position: relative;

  @include underlinePassive;
}

.o-iconlink {
  text-decoration: none;
}
.o-iconlink__icon--left {
  margin-right: em($ratio--s);
}
.o-iconlink__icon--right {
  margin-left: em($ratio--s);
}

.o-toggle {
  position: relative;

  background-color: transparent;
  border: none;
  padding: 0;

  transition: color $duration--s;

  @include state--focus {
    outline: none;
  }

  @include underlinePassive;
}
.o-toggle--active {
  color: $color1--500;

  &:after {
    width: 100%;
    left: 0;
  }
}

[data-target] {
  // Idiotic way of making MixItUp work.
  display: none;
}

.o-map {
  position: relative;
  height: 60vh;

  filter: grayscale(100%);

  iframe {
    @include position(absolute, 0 null null 0);

    @include size(100%);
    filter: grayscale(100%);
  }
}

.o-people {
  list-style-type: none;
  padding-left: 0;

  @include clearfix;
}
.o-people__item {
  margin-top: em($ratio--xxs);

  @include media($tablet) {
    @include span-columns(6 of $columns__tablet);
    @include omega(2n);
  }
  @include media($desktop) {
    @include span-columns(4 of $columns__desktop);
    @include omega(3n);
  }
}

.o-pagination {
  list-style-type: none;
  padding-left: 0;

  text-align: center;

  margin-top: em($ratio--l);
}
.o-pagination__item {
  display: inline-block;

  & + & {
    margin-left: em($ratio--m);
  }
}
.o-pagination__link {
  position: relative;

  display: block;
  width: em(20);

  text-decoration: none;

  @include underlinePassive;

  @include state--active {
    &:after {
      width: 100%;
      left: 0;
    }
  }
}
.o-pagination__number {
  position: relative;

  display: block;
  width: em(20);

  color: $grey--900;

  @include underlineActive;
}

.o-description {
  text-align: center;

  max-width: em($width--xl);
  @include margin(null auto);
}

.o-bar {
  position: relative;
}

.o-bar__title {
  text-align: center;

  pointer-events: none;

  @include collapse-children;

  @include media($small) {
    margin-bottom: em($ratio--b);
  }
  @include media($tablet) {
    margin-bottom: em($ratio--m);
  }
  @include media($desktop) {
    @include position(absolute, 0 em(300) null em(300));
  }
}

.o-error {
  display: block;

  text-align: center;

  color: $color1--100;
  background-color: transparent;

  padding: em($ratio--b);
}
.o-error__icon {
  padding-right: em($ratio--b);
}

.o-section {
  // Reset .l-wrap padding if applicable.
  padding-top: 0;

  margin-top: em($ratio--l);

  @include media($desktop) {
    margin-top: em($ratio--xl);
  }
}
