.o-header {
  @include position(fixed, 0 null null 0);

  width: 100%;
  z-index: 100;
  background-color: white;
}

.o-logo {
  font-family: $font__caps;
  font-size: em($unit--m);

  text-decoration: none;
  text-transform: lowercase;

  letter-spacing: em(.25em, $unit--m);

  @include state--link {
    color: $grey--300;
  }
  @include state--active {
    color: $grey--900;
  }
}

.o-logo__studio {
  color: $grey--900;
}

.o-nav {
  font-size: em(14);
  letter-spacing: em($ratio--t);
}

.o-nav__list {
  @include reset-list;
}

.o-nav__item {
  display: inline-block;
  text-transform: uppercase;

  & + & {
    margin-left: em($ratio--l);
  }
}

.o-nav__link {
  position: relative;

  text-decoration: none;

  @include underlinePassive;
}

.o-nav__link:hover:after,
.o-nav__link--active:after {
  width: 100%;
  left: 0;
}

.o-languages {
  @include reset-list;
}
.o-languages__item {
  display: inline-block;

  &:last-child {
    &:before {
      content: "/";
      @include margin(null em($ratio--xs) null em($ratio--t));
    }
  }
}
.o-languages__item--active a {
  position: relative;

  @include underlineActive;
}

.o-textlink {
  position: relative;

  display: inline-block;

  font-family: $font__caps;
  letter-spacing: em($ratio--t);
  text-align: center;
  text-transform: uppercase;

  margin-top: em($ratio--m);

  transition: color $duration--s;

  @include state--active {
    &:after {
      width: 100%;
      left: 0;
    }
  }

  @include underlinePassive;
}

.o-iconlink {
  text-decoration: none;
}
.o-iconlink__icon--left {
  margin-right: em($ratio--s);
}
.o-iconlink__icon--right {
  margin-left: em($ratio--s);
}

.o-filter {
  text-align: center;

  padding-left: 0;
}
.o-filter__item {
  display: inline-block;

  & + & {
    margin-left: em($ratio--l);
  }
}
.o-filter__link--active {
  position: relative;

  @include state--all {
    color: $color1--500;
  }

  @include underlineActive;
}

.o-toggle {
  position: relative;

  background-color: transparent;
  border: none;
  padding: 0;

  transition: color $duration--s;

  @include state--focus {
    outline: none;
  }

  @include underlinePassive;
}
.o-toggle--active {
  color: $color1--500;

  &:after {
    width: 100%;
    left: 0;
  }
}

.o-work {
  display: inline-block;

  position: relative;

  overflow: hidden;

  width: em(240);

  background-color: $grey--900;

  @include margin(null flex-gutter() / 2 flex-gutter());
}

[data-target] {
  // Idiotic way of making MixItUp work.
  display: none;
}

.o-work__image {
  display: block;

  width: 100%;
  height: auto;

  transition: opacity $duration--s;

  .o-work:hover & {
    opacity: .5;
  }
}
.o-work__info {
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  text-align: left;

  color: white;
  @include padding(null em($ratio--s) em($unit--b) em($ratio--m));

  transition: transform $duration--b;

  transform: translateY(100%);

  .o-work:hover & {
    transform: translateY(0);
  }
}
.o-work__title {
  @include margin(0 null);
}
.o-work__name {
  color: rgba(white, .5);
}

.o-map {
  position: relative;
  height: 60vh;

  filter: grayscale(100%);

  iframe {
    @include position(absolute, 0 null null 0);

    @include size(100%);
    filter: grayscale(100%);
  }
}

.o-featured {
  @include span-columns(4);
}
.o-featured__image {
  height: auto;

  @include margin(null auto);

  transition: opacity $duration--s;
}
.o-featured__thumbnail {
  display: block;

  position: relative;

  background-color: $grey--900;

  margin-bottom: em($ratio--m);

  @include state--active {
    .o-featured__image {
      opacity: .5;
    }
    .o-featured__overlay {
      opacity: 1;
    }
  }
}
.o-featured__overlay {
  @include position(absolute, 50% 0 null 0);

  transform: translateY(-50%);

  color: white;

  opacity: 0;
  transition: opacity $duration--s;
}
.o-featured__link {
  display: block;

  text-decoration: none;
}
.o-featured__text {
  text-align: left;
}
.o-featured__button {
  font-size: em($ratio--m);
}

.o-archived {
  text-align: center;

  & + & {
    margin-top: em($ratio--xl);
  }
}
.o-archived__date {
  display: block;

  margin-bottom: em($ratio--m);
}
.o-archived__content {
  max-width: em($width--xl);

  @include margin(em($ratio--l) auto null);
}

.o-people {
  list-style-type: none;
  padding-left: 0;

  @include clearfix;
}
.o-people__item {
  margin-top: em($ratio--xxs);

  @include span-columns(4 of $columns__desktop);
  @include omega(3n);
}

.o-pagination {
  list-style-type: none;
  padding-left: 0;

  text-align: center;

  margin-top: em($ratio--l);
}
.o-pagination__item {
  display: inline-block;

  & + & {
    margin-left: em($ratio--m);
  }
}
.o-pagination__link {
  position: relative;

  display: block;
  width: em(20);

  text-decoration: none;

  @include underlinePassive;

  @include state--active {
    &:after {
      width: 100%;
      left: 0;
    }
  }
}
.o-pagination__number {
  position: relative;

  display: block;
  width: em(20);

  color: $grey--900;

  @include underlineActive;
}


.o-carousel__item {
  width: auto;

  & + & {
    margin-left: flex-gutter();
  }

  opacity: .25;

  transition: opacity $duration--b;
}

.o-carousel__item--small {
  height: em(360);
}
.o-carousel__item--large {
  height: em(500);
}

.o-carousel__image {
  width: auto;
  height: 100%;
}

.o-description {
  text-align: center;

  max-width: em($width--xl);
  @include margin(null auto);
}

.o-bar {
  position: relative;
}

.o-bar__title {
  @include position(absolute, 0 em(300) null em(300));

  text-align: center;

  pointer-events: none;

  @include collapse-children;
}

.o-error {
  display: block;

  text-align: center;

  color: $color1--100;
  background-color: transparent;
}
.o-error__icon {
  padding-right: em($ratio--b);
}
