ul.o-people
  //- Get JSON object length
  - var peopleCount = people.length
  //- Limit number of people to output to 5-15
  - var loopLimit = Math.round((Math.random() * 10) + 5)

  //- Iterate
  while loopLimit > 0
    //- Pick a random number in the array
    - var randomPerson = Math.floor(Math.random() * peopleCount)
    //- Create a current person object
    - var thisPerson = people[randomPerson]
    li.o-people__item
      //- Randomly decide if person is an anchor
      if (Math.random() >= .5)
        = thisPerson.name
      else
        a.o-people__link.t-link--primary(href="student-detail")= thisPerson.name
    - loopLimit--
