extends templates/_site

block template-content
  +header("subpage")

  .m-archive.l-nudge.l-wrap
    h1.t-head--high Všechny aktuality

    .m-archive__list
      each article in ["1", "2", "3", "4", "5"]
        article.o-article.o-article--archived(id="news-#{article}")
          h4.o-article__title.t-head--low: +dummy(5)
          a.o-article__figure(href="#")
            img.o-article__image(src="assets/images/bota2.jpg", alt="Bota")
          .o-article__content
            p.p-text: +dummy(article * 2, "sentences")

    ul.o-pagination
      li.o-pagination__item.o-pagination__item--active
        span.o-pagination__number 1
      each page in ["2", "3", "4"]
        li.o-pagination__item
          a.o-pagination__link(href="#")= page
