extends templates/_site

block template-content
  +header("homepage")

  section.m-hero(style="background-image: url('assets/images/kabelka.jpg');")
    h1.t-head--top.m-hero__head Vítejte na webu jediného vš ateliéru designu obuvi.
    a.m-hero__arrow(href="#gallery", data-scrollto).link-arrow.ion-ios-arrow-down
    
  include sections/_featured-work
  include sections/_about
  include sections/_students
  include sections/_contact

