extends templates/_site

block template-content
  +header("subpage")

  .l-nudge
    h1.t-head--higher Název projektu
    .o-bar
      .o-bar__title
        span.t-caps Pavla Nováková
      .l-inline--sooner
        .l-inline__cell
          a.o-iconlink(href="index#section-gallery")
            i.o-iconlink__icon--left.ion-ios-arrow-left
            span.t-caps  Zpět do galerie
        .l-inline__cell
          a.o-iconlink(href="student-detail")
            span.t-caps Další práce studenta 
            i.o-iconlink__icon--right.ion-ios-arrow-right

  .o-carousel.o-carousel--large.swiper-container(data-swiper).l-wrap--horizontal
    ul.o-carousel__list.swiper-wrapper
      each photoNumber in ["1", "2", "3"]
        li.o-carousel__item.swiper-slide
          img.o-carousel__image(src="http://unsplash.it/#{photoNumber * 300}/600/?image=#{photoNumber * 25}", alt="unsplash.it")

  mark.o-error
    span.o-error__icon.ion-alert
    span.o-error__text K této práci nebyly nahrány žádné fotky.

  .l-wrap.o-description
    h2.t-head--low O Projektu
    p.t-paragraph: +dummy(40)
