extends templates/_site

block template-content
  +header("subpage")

  .l-nudge.l-wrap
    h1.t-head--higher Název projektu
    .o-bar
      .o-bar__title
        span.t-caps Pavla Nováková
      .l-inline
        .l-inline__cell
          a.o-iconlink(href="index#section-gallery")
            i.o-iconlink__icon--left.ion-ios-arrow-left
            span.t-caps  Zpět do galerie
        .l-inline__cell
          a.o-iconlink(href="student-detail")
            span.t-caps Další práce studenta 
            i.o-iconlink__icon--right.ion-ios-arrow-right

  .o-carousel.swiper-container(data-swiper).l-wrap.l-wrap--horizontal
    ul.o-carousel__list.swiper-wrapper
      each photoNumber in ["1", "2", "3"]
        li.o-carousel__item.o-carousel__item--large.swiper-slide
          img(src="http://unsplash.it/#{photoNumber * 300}/600/?image=#{photoNumber * 25}", alt="unsplash.it")

  .l-wrap.o-description
    h2.t-head--low O Projektu
    p.t-text: +dummy(40)
