extends templates/_site

block template-content
  +header("subpage")

  .l-nudge
    h1.t-head--higher Pavla Nováková

  section.m-works.l-wrap--horizontal
    .m-works__list
      - var workCount = 10
      while workCount > 0
        a.o-work(href="project-detail")
          img.o-work__image(src="http://unsplash.it/400/400/?image=#{workCount * 14 + 1}", alt="Image")
          .o-work__info
            h3.o-work__title.t-head--bottom Název práce
        - workCount--

  section.m-students.o-section.l-wrap(data-section)
    h2.t-head--high Další studenti a absolventi

    .m-students__content
      ul.o-tabs(data-tabs)
        each studentGroup in ["bca", "mga", "grad"]

          li.o-tabs__item.o-group(class="o-group--#{studentGroup}")
            button.o-tabs__link.o-toggle.t-caps
              case studentGroup
                when "bca"
                  | Bakaláři
                when "mga"
                  | Magistři
                when "grad"
                  | Absolventi

            .o-tabs__content
              include partials/_people
