extends templates/_site

block template-content
  +header("subpage")

  .m-profile.l-nudge.l-wrap
    h1.t-head--higher Pavla Nováková

  .m-works
    - var workCount = 10
    while workCount > 0
      a.o-work(href="project-detail")
        img.o-work__image(src="assets/images/gallery/#{workCount}.jpg", alt="Image")
        .o-work__info
          h3.o-work__title.t-head--bottom Název práce
      - workCount--

  .m-students(data-section)
    h2.t-head--high Další studenti a absolventi

    .m-students__content
      ul.o-tabs(data-tabs)
        each studentGroup in ["bca", "mga", "grad"]

          li.o-tabs__item.o-group(class="o-group--#{studentGroup}")
            button.o-tabs__link.o-toggle.t-caps
              case studentGroup
                when "bca"
                  | Bakaláři
                when "mga"
                  | Magistři
                when "grad"
                  | Absolventi

            .o-tabs__content
              include partials/_people
