.popup{
  position: absolute;
  top:0px;
  left:100%;
  display:block;
  width: calc(100% - 100px);
  //height: calc(100% - 100px);
  background-color: #fff;
  font-size: 0px;
  transition: left 1s;
  -webkit-transition: left 1s;
  padding-bottom: 50px;

  &.active{
    left: 50px;
  }
  .popup-links{
    vertical-align: top;
    display:inline-block;
    width: calc(50% - 50px);
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-family: "Open Sans";
    text-transform: uppercase;

    &.left{
      padding-left: 50px;
      text-align: left;
      i,span{
        cursor:pointer;
      }
      i{
        margin-right:20px;
      }
    }
    &.right{
      padding-right: 50px;
      text-align: right;
      i,span{
        cursor:pointer;
      }
      i{
        margin-left:20px;
      }
    }
    i{
      position:relative;
      top:-3px;
      vertical-align: middle;
      font-size: 25px;
    }
    span{
      vertical-align: middle;
      line-height: 50px;
    }
  }
  .popup-container{
    display:block;
    width:100%;
    height: calc(100% - 50px);
    font-size:0px;

    .big-photo{
      vertical-align: top;
      display:inline-block;
      margin-left: 50px;
      width: calc(33% - 50px);
      height: 100%;
      background-size: cover;
      img{

        display: inline-block;
        width: auto;
        max-height: 100%;
      }
    }
    .popup-content{
      position:relative;
      display: inline-block;
      vertical-align: top;
      width: calc(66% - 150px);
      height: 100%;
      padding-left: 100px;

      h2{
        padding-top: 10px;
        text-align: left;
      }
      h3{
        margin-top: 10px;
        font-weight: 400;
        text-align: left;
      }
      p{
        line-height: 22px;
        padding-top: 35px;
        max-width: 450px;
        text-align: left;
      }
      .popup-images{
        position: absolute;
        width: 100%;
        height: auto;
        bottom:0px;
        font-size: 0px;
        img{
          vertical-align: top;
          width: 20%;
          height: auto;
          display:inline-block;
        }
      }

    }
  }
}
