.t-head--top {
  font-family: $font__serif;
  font-weight: $font__serif--regular;
  font-size: em($unit--xh);

  line-height: $spacing--xs;

  color: $grey--700;
}

.t-head--higher {
  font-family: $font__caps;
  font-weight: $font__caps--regular;

  font-size: em($unit--xl);
  letter-spacing: em($ratio--t);
  text-align: center;
  text-transform: lowercase;

  color: $grey--600;
}

.t-head--high {
  font-size: em($unit--l);
  
  font-family: $font__serif;
  font-weight: $font__serif--regular;
}

.t-head--low {
  font-size: em($ratio--b);
  font-weight: $font__sans--regular;
  letter-spacing: em($ratio--t);

  text-transform: uppercase;
}

.t-head--bottom {
  font-size: em($ratio--b);

  font-weight: $font__sans--regular;
}

.t-caps {
  font-size: em($unit--s);
  text-transform: uppercase;

  letter-spacing: em($ratio--t);
}

.t-smallcaps {
  font-size: em($unit--xs);
  text-transform: uppercase;

  letter-spacing: em($ratio--t);
}

p {
  font-size: em(14);
}

.t-link--primary {
  text-decoration: none;

  @include state--link {
    color: $color1--300;
  }
  @include state--active {
    color: $color1--700;
  }
}

.t-link--secondary {
  text-decoration: none;
  
  &, &:link, &:visited {
    color: $grey--400;
  }
  @include state--active {
    color: $color1--500;
  }
}

.t-link--light {
  @include state--link {
    color: $grey--100;
  }
  @include state--active {
    color: $grey--300;
  }
}
