.m-about {
  text-align: center;
}

.m-about__text {
  max-width: em($width--xl);

  @include margin(null auto);
}

.m-news {
  text-align: center;
}
.m-news__list {
  @include clearfix;

  max-width: em($width--h);
  @include margin(null auto);
}

.m-hero {
  position: relative;

  height: 100vh;
  
  max-height: em(800);
}

.m-hero__head {
  position: absolute;
  top: 42.5%;
  left: em($ratio--b);
  right: em($ratio--b);

  transform: translateY(-50%);

  @include margin(0 null);

  text-align: center;
}

.m-hero__arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  @include media($desktop) {
    padding-bottom: em($ratio--s);
  }

  font-size: #{$icon--m + "px"};

  text-align: center;

  transition: color $duration--s;

  @include state--link {
    color: rgba($grey--900, .5);
  }
  @include state--active {
    color: $grey--900;
  }
}
.m-hero__background {
  // Hooray for magic number.
  @include position(absolute, em(128) 0 0 0);
  z-index: -1;

  background-size: cover;
  background-position: center;

  @include media($large) {
    left: em($ratio--m);
    right: em($ratio--m);
  }
  @include media($desktop) {
    top: em(82);
    bottom: em($ratio--m);
  }
}

.m-works {
  text-align: center;
}

.m-students {
  width: 100%;

  position: relative;

  text-align: center;

  &:before, &:after {
    content: "";

    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    width: 25%;

    padding-bottom: 40%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    z-index: -1;
  }

  &:before {
    background-image: url("../images/bg_shoes_left.jpg");

    left: -8%;
  }
  &:after {
    background-image: url("../images/bg_shoes_right.jpg");

    right: -8%;
  }
}

.m-students__content {
  max-width: em($width--xl);
  @include margin(null auto);
}

.m-contact {
  text-align: center;
}

.m-contact__list {
  @include clearfix;
}

.m-contact__item {
  @include media($large) {
    @include span-columns(4 of $columns__desktop);
  }
}
