.container.about
  h2 O NÁS
  p
    | Studium je zaměřeno na získávání znalostí a výtvarného rozhledu v oboru, rozvinutí 
    br
    | tvůrčích postupů při navrhování, na úzkou spolupráci s průmyslovou 
    br
    |  výrobou a v neposlední řadě na profesionální kompletaci díla. Základní a nedílnou 
    br
    | součástí výuky jsou tvůrčí projekty realizované pod vedením pedagoga.
  a(href='http://www.utb.cz/fmk/struktura/design-obuvi') /více info/
  .aktuality
    h2 AKTUALITY
    .column
      h4  ÚČAST NA VELETRHU ŠKOL
      img(src='assets/images/bota2.jpg')
      p  Mauris eleifend porttitor auctor. Curabitur vitae mollis diam.
      i.ion-more
    .column
      h4
        | SPOLUPRÁCE
        br
        |  S FIRMOU INTEL
      p
        | Mauris eleifend porttitor auctor. Curabitur vitae mollis diam. Aliquam erat volutpat. Pellentesque ultricies, risus vitae fermentum suscipit, turpis sapien posuere tellus, semper blandit libero eros congue libero,turpis sapien posuere tellus, semper blandit libero eros..
      i.ion-more
    .column
      h4  ÚČAST NA VELETRHU ŠKOL
      img(src='assets/images/bota1.jpg')
      p  Mauris eleifend porttitor auctor. Curabitur vitae mollis diam.
      i.ion-more
    a(href='') /archiv/
