section#contact.m-contact(data-section)
  .l-wrap
    h2.m-contact__title.t-head--higher Kontakty

    .m-contact__list
      .m-contact__item
        h4.t-head--low Vedoucí ateliéru
        p
          | MgA. Jana Buch
          br
          | +420 576 036 406
          br
          a(href="#") buch@fmk.utb.cz
          br
          | Kancelář: U16/304
      .m-contact__item
        h4.t-head--low Zástupce vedoucí ateliéru
        p
          | MgA. Veronika Jakóbková
          br
          | Tel.: +420 576 036 406
          br
          | mobil: +420 724 646 706
          br
          a(href="#") jakobkova@fmk.utb.cz
          br
          | Kancelář: U16/304
      .m-contact__item
        h4.t-head--low Sekretářka ateliéru
        p
          | Mgr. Pavla Kučeříková
          br
          | Tel.: +420 57 603 6412
          br
          | Mobil: +420 606 777 236
          br
          a(href="#") kucerikova@fmk.utb.cz 
          br
          | Kancelář: U16/408

  .o-map#js-map
