.container.gallery
  h2 PRÁCE
  ul#filters
    li.filter.active(data-filter='all') vše
    li.filter(data-filter='.ocenene') oceněné
    li.filter(data-filter='.spoluprace') spolupráce
    li.filter(data-filter='.bc') bakalářské
    li.filter(data-filter='.mag') magisterské
    li.filter(data-filter='.klauzury') klauzury
  #Container
    .item.mix.bc.klauzury
      img(src='assets/images/gallery/1.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.spoluprace
      img(src='assets/images/gallery/2.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.klauzury
      img(src='assets/images/gallery/3.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene
      img(src='assets/images/gallery/4.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc
      img(src='assets/images/gallery/5.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.ocenene.klauzury
      img(src='assets/images/gallery/6.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene.klauzury
      img(src='assets/images/gallery/7.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.spoluprace
      img(src='assets/images/gallery/8.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.klauzury
      img(src='assets/images/gallery/9.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene
      img(src='assets/images/gallery/10.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene.spoluprace.bc
      img(src='assets/images/gallery/11.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene.mag
      img(src='assets/images/gallery/12.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene
      img(src='assets/images/gallery/13.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.spoluprace.ocenene.klauzury
      img(src='assets/images/gallery/14.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.klauzury
      img(src='assets/images/gallery/15.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene.mag
      img(src='assets/images/gallery/16.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.mag.spoluprace.klauzury
      img(src='assets/images/gallery/17.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene.mag.klauzury
      img(src='assets/images/gallery/18.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.klauzury
      img(src='assets/images/gallery/1.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.spoluprace
      img(src='assets/images/gallery/2.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.klauzury
      img(src='assets/images/gallery/3.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.ocenene
      img(src='assets/images/gallery/4.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc
      img(src='assets/images/gallery/5.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
    .item.mix.bc.ocenene.klauzury
      img(src='assets/images/gallery/6.jpg')
      .hover
        | Jméno Příjmění
        br
        | Název práce
  .popup
    .popup-links.left
      a
        span.return
          i.ion-ios-arrow-left
          | zpět do galerie
    .popup-links.right
      a
        span
          | další práce studenta
          i.ion-ios-arrow-right
    .popup-container
      .big-photo(style="background-image: url('assets/images/5.jpg');")
      .popup-content
        h2 Jméno Trlicová
        h3 New York
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
        .popup-images
          img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_001.jpg')
          img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_002.jpg')
          img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_003.jpg')
          img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_004.jpg')
          img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_005.jpg')
