section#gallery.m-gallery(data-section, data-mixitup)
  .l-wrap
    h2.t-head--high Práce

    ul.o-filter
      li.o-filter__item
        button.o-toggle.t-caps(data-filter="all") Vše
      li.o-filter__item
        button.o-toggle.t-caps(data-filter=".awarded") Oceněné
      li.o-filter__item
        button.o-toggle.t-caps(data-filter=".collab") Spolupráce
      li.o-filter__item
        button.o-toggle.t-caps(data-filter=".bachelor") Bakalářské
      li.o-filter__item
        button.o-toggle.t-caps(data-filter=".master") Magisterské
      li.o-filter__item
        button.o-toggle.t-caps(data-filter=".finals") Klauzury

    .m-works
      - var workCount = 16
      while workCount > 0
        - var random = Math.floor((Math.random() * 5) + 1)
        - var tags
        case random
          when 1
            - tags = "bachelor awarded"
          when 2
            - tags = "collab"
          when 3
            - tags = "finals"
          when 4
            - tags = "master collab"

        a.o-work(href="#", class=tags, data-target)
          img.o-work__image(src="assets/images/gallery/#{workCount}.jpg", alt="Image")
          .o-work__info
            | Jméno Příjmení
            br
            | Název práce
        - workCount--

  //- .popup
  //-   .popup-links.left
  //-     a
  //-       span.return
  //-         i.ion-ios-arrow-left
  //-         | zpět do galerie
  //-   .popup-links.right
  //-     a
  //-       span
  //-         | další práce studenta
  //-         i.ion-ios-arrow-right

  //- .popup-container
  //-   .big-photo(style="background-image: url('assets/images/5.jpg');")
  //-   .popup-content
  //-     h2 Jméno Trlicová
  //-     h3 New York
  //-     p
  //-       | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
  //-     .popup-images
  //-       img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_001.jpg')
  //-       img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_002.jpg')
  //-       img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_003.jpg')
  //-       img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_004.jpg')
  //-       img(src='assets/images/ob_dp_2014_j_rosikova_greyscale_005.jpg')
