header
  label#logo
    li(data-page='home')
      | utb/fmk/
      span ateliér design obuvi
  nav
    li(data-page='gallery')
      | práce
    li(data-page='about')
      | o nás
    li(data-page='students')
      | seznam studentů
    li(data-page='contact')
      | kontakty
    li.no-hover
      span.active cz
      |  /
      span en

.container.home
  .homepage-image
    img(src='assets/images/kabelka.jpg')
    h1
      | Vítejte na webu jediného
      br
      |     vš ateliéru designu obuvi.
    i.link-arrow.ion-ios-arrow-down(data-page='gallery')
