header#js-header.o-header.l-wrap.l-wrap--small
  .l-inline
  
    .l-inline__cell
      a.o-logo(href="index")
        | UTB/FMK/
        span.o-logo__studio Ateliér Design obuvi

    .l-inline__cell
      nav.o-nav
        ul.o-nav__list
          li.o-nav__item
            a.o-nav__link(href="#gallery", data-scrollto, data-nav-link) Práce
          li.o-nav__item
            a.o-nav__link(href="#about", data-scrollto, data-nav-link) O nás
          li.o-nav__item
            a.o-nav__link(href="#students", data-scrollto, data-nav-link) Seznam studentů
          li.o-nav__item
            a.o-nav__link(href="#contact", data-scrollto, data-nav-link) Kontakty
          li.o-nav__item
            a(href="#").o-nav__link.o-nav__link--active CZ
            span.o-nav__divider /
            a(href="#").o-nav__link EN

section.m-hero(style="background-image: url('assets/images/kabelka.jpg');")
    h1.t-head--top.m-hero__head Vítejte na webu jediného vš ateliéru designu obuvi.
    a.m-hero__arrow(href="#gallery", data-scrollto).link-arrow.ion-ios-arrow-down
