section#students.m-students.l-wrap--horizontal.o-section(data-section)
  h2.t-head--higher Studenti a absolventi

  .m-students__content
    ul.o-tabs(data-tabs)
      each studentGroup in ["bca", "mga", "grad"]

        li.o-tabs__item.o-group(class="o-group--#{studentGroup}")
          button.o-tabs__link.o-toggle.t-link--secondary.t-caps
            case studentGroup
              when "bca"
                | Bakaláři
              when "mga"
                | Magistři
              when "grad"
                | Absolventi

          .o-tabs__content
            include ../partials/_people
